.button {

  div{
    span{
      font-size: 40px!important;
      font-weight: bold!important;
      text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      text-transform: none!important;
      color: white!important;
    }
  }
}
.button--homepage {

  div{
    span{
      font-size: 35px!important;
    }
  }
}
