@import "./base/fonts";
@import "./base/settings";
@import "./base/base";
@import "./components/box-layout";
@import './components/button';
@import '/components/header';
@import '/components/content-container';
@import '/components/page-header';
@import '/components/input-group';
@import '/components/inputs';
@import '/components/form';
@import '/components/visability';
@import '/components/list';
@import '/components/loader';

@-webkit-keyframes scaleDown {
	to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleDown {
	to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleDown {
	to { opacity: 0; transform: scale(.8); }
}

@-webkit-keyframes scaleUp {
	from { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleUp {
	from { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleUp {
	from { opacity: 0; transform: scale(.8); }
}

.pageSlider-enter {
	-webkit-animation: scaleDown .2s ease both;
-moz-animation: scaleDown .2s ease both;
animation: scaleDown .2s ease both;
}

.pageSlider-enter.pageSlider-enter-active {
	-webkit-animation: scaleUp .2s ease both;
-moz-animation: scaleUp .2s ease both;
animation: scaleUp .2s ease both;
}

.my-appear{

}
.my-active-appear{

}
.my-enter{
	-webkit-animation: scaleUp .2s ease both;
-moz-animation: scaleUp .2s ease both;
animation: scaleUp .2s ease both;
}
.my-active-enter{

}
.my-exit{

}
.my-active-exit{

}

// .pageSlider-exit {
// 	-webkit-animation: scaleDown .2s ease both;
// -moz-animation: scaleDown .2s ease both;
// animation: scaleDown .2s ease both;
// }

// .pageSlider-exit.pageSlider-exit-active {
// 	-webkit-animation: scaleDown .2s ease both;
// -moz-animation: scaleDown .2s ease both;
// animation: scaleDown .2s ease both;
// }
