@import "./base/fonts";
@import "./base/settings";
@import "./base/base";
@import "./components/box-layout";
@import './components/button';
@import '/components/header';
@import '/components/content-container';
@import '/components/page-header';
@import '/components/input-group';
@import '/components/inputs';
@import '/components/form';
@import '/components/visability';
@import '/components/list';
@import '/components/loader';
@import '/animations/page-transitions';

@-webkit-keyframes scaleDown {
	to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleDown {
	to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleDown {
	to { opacity: 0; transform: scale(.8); }
}

@-webkit-keyframes scaleUp {
	from { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleUp {
	from { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleUp {
	from { opacity: 0; transform: scale(.8); }
}


.fade-appear,
.fade-enter {

}

.fade-appear-active,
.fade-enter-active {
  transition: all .8s both ease;
	animation: rotateRoomLeftIn .8s both ease;
}


.fade-exit {
	transform-origin: 100% 50%;
}

.fade-exit-active {
	transition: all .8s both ease;
	animation: rotateRoomLeftOut .8s both ease;
}

.test-questions-appear,
.test-questions-enter {
transform-origin: 0% 50%;
}

.test-questions-appear-active,
.test-questions-enter-active {
	transition: all .8s both ease;
	animation: rotateRoomLeftIn .8s both ease;
}

.test-questions-exit {
	transition: all .8s both ease;
	animation: rotateRoomLeftOut .8s both ease;
}

.test-questions-exit-active {
	transform-origin: 100% 50%;
}
.test-bed{
	position: absolute;
}
.page-test{
	position: absolute;
	left: 0;
	width: 100vw;
	display: flex;
	justify-content: center;
}

.header{
	position: fixed;
}
.header-wrap{
	width: 100vw;
}
// .pageSlider-exit {
// 	-webkit-animation: scaleDown .2s ease both;
// -moz-animation: scaleDown .2s ease both;
// animation: scaleDown .2s ease both;
// }

// .pageSlider-exit.pageSlider-exit-active {
// 	-webkit-animation: scaleDown .2s ease both;
// -moz-animation: scaleDown .2s ease both;
// animation: scaleDown .2s ease both;
// }
