@import "./base/fonts";
@import "./base/settings";
@import "./base/base";
@import "./components/box-layout";
@import './components/button';
@import '/components/header';
@import '/components/content-container';
@import '/components/page-header';
@import '/components/input-group';
@import '/components/inputs';
@import '/components/form';
@import '/components/visability';
@import '/components/list';
@import '/components/loader';

// .example-enter {
//   animation: fadeIn 0.7s ease both;
// }
//
// .example-enter.example-enter-active {
// animation: fadeIn 0.7s ease both;
// }
//
// .example-leave {
// animation: fadeIn 0.7s ease both;
// //animation: moveToRightFade 0.7s ease both;
// //position:absolute;
// }
//
// .example-leave.example-leave-active {
// animation: fadeIn 0.7s ease both;
// }
// .example-appear {
//   animation: fadeIn 0.7s ease both;
// //animation: moveFromLeftFade 0.7s ease both;
// }
//
// .example-appear.example-appear-active {
// animation: fadeIn 0.7s ease both;
// }
.example-enter {
    opacity: 0;
    transform:   translate(-250px,0);
    transform: translate3d(-250px,0,0);
}
.example-enter.example-enter-active {
	opacity: 1;
	transition: opacity 1s ease;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.example-leave {
	opacity: 1;
	transform:   translate(0,0,0);
	transform: translate3d(0,0,0);
  transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.example-leave.example-leave-active {
	opacity: 0;
	transform:   translate(250px,0);
	transform: translate3d(250px,0,0);
}

@keyframes fade {
  from {
  }

  to {
    opacity: 0.3;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
@keyframes moveToLeftFade {
  from {}

  to {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes moveFromLeftFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
  }
}
@keyframes moveToRightFade {
  from {}

  to {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@keyframes moveFromRightFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
