// Colors
$dark-grey: #333333;
$blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;
$grey: #666;
// Font size

$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
//Media Query Breakpoints
$desktop-breakpoint: 45rem;

$color-1: red;
$color-2: orange;
$color-3: darkgoldenrod;
$color-4: green;
$color-5: skyblue;
$color-6: darkblue;
$color-7: purple;
$color-8: brown;
$color-9: aquamarine;
$color-10: blueviolet;
$color-11: cadetblue;
$color-12: yellowgreen;
